{% extends 'core/main_page.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main %}

    <div class="image">
        {% image page.image fill-1920x640 class="img-fluid" %}

        <div class="credit">{{ page.image_credit|richtext }}</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9 content">
                {{ page.trans_body|richtext }}
            </div>
        </div>
    </div>

{% endblock %}
