$footer-height: 40px;

html,
body {
    height: 100%;
}

.wrapper {
    height: auto;
    min-height: 100%;
}

header {
    height: 140px;
    padding-top: 60px;

    a.brand {
        display: block;
        float: left;

        font-size: 60px;
        line-height: 60px;

        text-decoration: none;
    }

    nav {
        float: right;
        margin-top: 30px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}

main {
    padding-bottom: $footer-height;

    .sidebar {
        font-size: 13px;

        p, ul, ol {
            margin-bottom: 5px;
        }
    }
}

footer {
    height: $footer-height;
    margin-top: -$footer-height;

    padding-top: 16px;

    font-size: small;

    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

blockquote {
    padding: 8px 15px 5px 15px;
    border-left-width: 3px;
    border-left-style: solid;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}

.image {
    position: relative;

    .credit {
        position: absolute;

        right: 4px;
        bottom: 4px;

        font-size: 10px;
        line-height: 10px;

        color: #ccc;

        p {
            margin: 0;
        }

        a, a:hover, a:focus, a:visited {
            color: #ccc!important;
        }
    }
}

.richtext-image {
    &.left {
        float: left;
    }
    &.right {
        float: right;
    }
}

.blog {
    .date {
        margin-top: 60px;
    }
}