{% extends 'core/base.html' %}

{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block main %}

    <div class="blog">
        <div class="image">
            {% image page.image fill-1920x640 class="img-fluid" %}

            <div class="credit">{{ page.image_credit|richtext }}</div>
        </div>

        <div class="content">
            <div class="container">
                <section class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h1>{{ page.trans_title }}</h1>
                    </div>
                </section>

                {% for page in paginator %}
                {% with post=page.specific %}

                <article>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <h2>
                                <a href="{% pageurl post %}">
                                    {{ post.trans_title }}
                                </a>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="date">
                                {{ post.first_published_at|date:"DATE_FORMAT" }}
                            </p>
                        </div>
                        <div class="col-md-9">
                            {% include_block post.trans_body %}
                        </div>
                    </div>
                </article>

                {% endwith %}
                {% endfor %}

                <section class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        {% if paginator.has_previous %}
                        <p class="float-left">
                            <a href="{% routablepageurl page 'pagination' paginator.previous_page_number %}">
                                {% trans 'Newer posts' %}
                            </a>
                        </p>
                        {% endif %}
                        {% if paginator.has_next %}
                        <p class="float-right">
                            <a href="{% routablepageurl page 'pagination' paginator.next_page_number %}">
                                {% trans 'Older posts' %}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}
