{% extends 'core/base.html' %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main %}

    <div class="blog">
        <div class="image">
            {% image page.image fill-1920x640 class="img-fluid" %}

            <div class="credit">{{ page.image_credit|richtext }}</div>
        </div>

        <div class="content">
            <div class="container">
                <section class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h1>{{ page.trans_title }}</h1>
                    </div>
                </section>

                {% for page in blogpages %}
                {% with post=page.specific %}

                <article class="row">
                    <div class="col-md-3">
                        <p class="date">
                            {{ post.date }}
                        </p>
                    </div>
                    <div class="col-md-9">
                        <h2>
                            <a href="{% pageurl post %}">
                                {{ post.trans_title }}
                            </a>
                        </h2>

                        {{ post.trans_body|richtext }}
                    </div>
                </article>
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
