{% extends 'core/base.html' %}

{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main %}

    <div class="blog">
        <div class="image">
            {% image page.image fill-1920x640 class="img-fluid" %}

            <div class="credit">{{ page.image_credit|richtext }}</div>
        </div>

        <div class="content">
            <div class="container">
                <article class="row">
                    <div class="col-md-3">
                        <p class="date">
                            {{ page.date }}
                        </p>
                    </div>
                    <div class="col-md-9">
                        <h2>
                            <a href="{% pageurl page %}">
                                {{ page.trans_title }}
                            </a>
                        </h2>

                        {{ page.trans_body|richtext }}
                    </div>
                </article>
            </div>
        </div>
    </div>

{% endblock %}
