{% extends 'core/base.html' %}

{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main %}

    <div class="container content">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <h1>{{ page.trans_title }}</h1>
                <h2>{{ page.trans_subtitle }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 sidebar">
                <p>{% trans 'Status' %}: In progress</p>

                {% if page.start_date %}
                <p>
                    {% trans 'Start' %}: {{ page.start_date }}
                </p>
                {% endif %}
                {% if page.end_date %}
                <p>
                    {% trans 'End' %}: {{ page.end_date }}
                </p>
                {% endif %}

                <p>{% trans 'In collaboration with' %}:</p>

                <ul class="list-unstyled">
                {% for collaboration in page.collaborations.all %}
                    <li>
                        {% if collaboration.url %}
                        <a href="{{ collaboration.url }}">
                            {{ collaboration.name }}
                        </a>
                        {% else %}
                        {{ collaboration.name }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>

                <p>{% trans 'Links' %}:</p>

                <ul class="list-unstyled">
                {% for link in page.related_links.all %}
                    <li>
                        <a href="{{ link.url }}">
                            {{ link.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                {{ page.trans_body|richtext }}
            </div>
        </div>
    </div>

{% endblock %}
