{% extends 'core/base.html' %}

{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main %}

    <div class="container content">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <h1>{{ page.trans_title }}</h1>
                <h3>{{ page.trans_subtitle }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="meta">
                    <p>{% trans 'Status' %}: In progress</p>

                    {% if page.start_date %}
                    <p>
                        {% trans 'Start' %}: {{ page.start_date }}
                    </p>
                    {% endif %}
                    {% if page.end_date %}
                    <p>
                        {% trans 'End' %}: {{ page.end_date }}
                    </p>
                    {% endif %}

                    {% with page.collaborations.all as collaborations %}
                    {% if collaborations %}

                    <p>{% trans 'In collaboration with' %}:</p>

                    <ul class="list-unstyled">
                    {% for collaboration in collaborations %}
                        <li>
                            {% if collaboration.url %}
                            <a href="{{ collaboration.url }}">
                                {{ collaboration.name }}
                            </a>
                            {% else %}
                            {{ collaboration.name }}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>

                    {% endif %}
                    {% endwith %}

                    {% with page.related_links.all as related_links %}
                    {% if related_links %}

                    <p>{% trans 'Links' %}:</p>

                    <ul class="list-unstyled">
                    {% for link in page.related_links.all %}
                        <li>
                            <a href="{{ link.url }}">
                                {{ link.title }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>

                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="col-md-9">
                {{ page.trans_teaser|richtext }}

                {% include_block page.body %}
            </div>
        </div>
    </div>

{% endblock %}
