{% extends 'core/base.html' %}

{% load i18n %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main %}

    <div class="container content">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <h1>{{ page.trans_title }}</h1>
                {% if page.trans_subtitle %}
                    <h3>{{ page.trans_subtitle }}</h3>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="meta">
                    {% if page.start_date %}
                    <p>
                        {% trans 'Start' %}: {{ page.start_date }}
                    </p>
                    {% endif %}
                    {% if page.end_date %}
                    <p>
                        {% trans 'End' %}: {{ page.end_date }}
                    </p>
                    {% endif %}
                    <p>
                        {% trans 'Status' %}: {{ page.get_status_display }}
                    </p>
                </div>
            </div>
            <div class="col-md-9">
                {{ page.trans_teaser|richtext }}

                {% include_block page.trans_body %}

                {% if page.trans_collaboration %}
                <h3>
                    {% trans 'Collaboration' %}
                </h3>

                {{ page.trans_collaboration|richtext }}
                {% endif %}

                {% if page.trans_publications %}
                <h3>
                    {% trans 'Publications' %}
                </h3>

                {{ page.trans_publications|richtext }}
                {% endif %}

                {% if page.trans_references %}
                <h3>
                    {% trans 'References' %}
                </h3>

                {{ page.trans_references|richtext }}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
